.modal__add{
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  padding-top: 166px;
  padding-left: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.modal__add--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
}