.modal-add__close-image {
  width           : 33px;
  height          : 33px;
  background-color: transparent;
  border          : none;
  position        : absolute;
  top             : 0;
  right           : 0;
  cursor          : pointer;
}