.btn-add {
  width: 9.375rem;
  height: 3.125rem;
  border: 2px solid #FFFFFF;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
  background-image: url(../../images/vector__add.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@media screen and (max-width: 892px) {
  .btn-add {
    margin-right: 21px;
  }
}

@media screen and (max-width: 887px) {
  .btn-add {
    margin-right: 0;
  }
}

@media screen and (max-width: 587px) {
  .btn-add {
    width: 282px;
    margin-top: 36px;
  }
}