:root

.modal__formulario-name {
  width: 430px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--input-text-color);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--input-text-color-opacity);


}

.modal__formulario-name:focus {
  background: transparent;

}

.modal__formulario-name::placeholder {
  color: var(--input-text-color-opacity);
}

@media screen and (max-width:589px) {
  .modal__formulario-name {
    width: 100%;
  }
}