.modal__formulario-description {
  width: 430px;
  color: var(--input-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--input-text-color-opacity);

}

.modal__formulario-description::placeholder {
  color: var(--input-text-color-opacity);
}

@media screen and (max-width:600px) {
  .modal__formulario-description {
    width: 100%;
  }
}