.modal__formulario {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3rem;
}

@media screen and (max-width: 595px) {
  .modal__formulario {
    width: 100%;
  }
}