.modal__formulario-description {
  width: 358px;
  color      : #C4C4C4;
  font-style : normal;
  font-weight: 400;
  font-size  : 14px;
  line-height: 17px;
  border:none;
  outline: none;
  border-bottom:1px solid #C4C4C4;
}
.modal__formulario-description::placeholder{
  color : #C4C4C4;
}

@media screen and (max-width:600px){
  .modal__formulario-description {
    width: 100%;
  }
}