.popup__button {
  width           : 390px;
  height          : 60px;
  color           : #ffffff;
  border          : none;
  outline         : 1px solid #C4C4C4;
  background-color: #000000;
  border-radius   : .125rem;
  font-size: 1.125rem;
  margin-bottom:20px;
  cursor:pointer;
}

.popup__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.popup__button-disabled{
  color           : #000;
background-color: #FFF;
pointer-events  : none;
user-select     : none;
border          : 1px solid #000000;
opacity         : 0.3;
}

@media screen and (max-width:812px) {
  .popup__button {
    width: 90%;
  }
}