.modal__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  width: 430px;
  height: 347px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-top: 33px;
  margin-right: 33px;
  padding: 34px 36px 36.51px 36px;
}

@media screen and (max-width:680px) {
  .modal__container {
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}