.modal {
  position: fixed;
  width : 100%;
  top: 0;
  bottom:0;
  left:0;
  right:0;  
  margin: auto;
  border: 1px solid red;
 background-color: #111111bd;
}

.modal-visibility{
  visibility: visible;

} 