.footer {
  width: 100%;
  margin-top: 68px;
  color: #545454;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-bottom: 60px;
}

@media screen and (max-width: 886px) {
  .footer {
    width: 36.375rem;
    align-items: flex-start;
    padding-left: 27px;
  }
}

@media screen and (max-width: 589px) {
  .footer {
    width: 17.625rem;
    padding-left: 0;
  }
}