.btn__like{
  border:none;
  width:21px ;
  height: 19px;
  background-color: transparent;
  fill:currentColor;
  color:black;
  padding: 0 30px 0 15px;
  cursor:pointer;
}
.btn__like:hover{
  fill:currentColor;
  color:rgb(185, 9, 9) !important;
}